body {
    margin: 0%;
}
.main-wrap {
margin-top: 100px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.left {

}
.right {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 20px;
}


input {
    margin: 6px 0px 6px 0px;
    padding: 4px;
    font-size: 15px;
}
button {
        padding: 4px;
}